.main{
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 40px;
   }
   .main .image{
    display: flex;
    flex:0.6;
    width: 90%;
    background: #CBCCE8;
    border-radius: 41.3393px;
    justify-content: center;
    align-items: center;
   }
   .main .login{
    display:flex;
    flex: 0.4;
    gap:80px;
    flex-direction:column;
   }
   .main .login .logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     line-height: 30px;
     letter-spacing: 0.01em;
     text-transform: capitalize;
     color: #344054;
    align-items: center;
    justify-content: flex-start;
   }
   .main .login .logo span{
    display:flex;
    justify-content: center;
    align-items: center;
   }
   .main .login .logo Image {
    display:flex;
    justify-content: center;
    align-items: center;
   }
   .main .login .Heading{
    font-family: 'Inter';
    display:flex;
     font-style: normal;
     font-weight: 700;
     font-size: 41.3393px;
     line-height: 50px;
     letter-spacing: 0.01em;
     text-transform: capitalize;
     color: #344054;
   }
   .main .login .content .info{
    font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 16.5357px;
     line-height: 25px;
     color: #667085;
   }
   .main .login .copyright{
    display:flex;
    font-family: 'Inter';
     font-style: italic;
     font-weight: 400;
     font-size: 16.5357px;
     line-height: 21px;
     justify-content: center;
     align-items: center;
     color: #667085;
   }
   .main .login .Google{
    display:flex;
    height: 78px;
    margin-left: 100px;
   }

   .main .login .signup{
     margin-top: -100px;
padding-left: 104px;

   }

   .main .login .signup .sign{
    color: blue;
    cursor: pointer;
   }
   .emoji-icon{
    cursor: pointer;
   }